*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.btn {
  display: inline-block;
  padding: 1.25em 2.5em;
  border-radius: 2em;
  cursor: pointer;
}

.btn-primary {
  position: relative;
  background: $primary-color;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: white;
  z-index: 1;
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: $main-text-color;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

.btn-primary:hover::before {
  transform: scaleX(1);
}
