*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
