.header {
  margin: 3rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 3rem;
    font-weight: 700;
    color: $main-text-color;
    span:first-of-type {
      color: $logo-color;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    color: $main-text-color;
    ul {
      display: flex;
      align-items: center;
      @include text-formatting(false, 1.6rem);
    }
    li {
      margin-right: 3.7rem;
      position: relative;
      transition: color 0.2s linear;
      @include link-hover($main-text-color, -0.1rem);
      &:hover {
        color: $main-text-color;
      }
    }

    &__nav .btn {
      margin-left: 2rem;
    }
  }
}
