.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  &__logo {
    font-size: 3rem;
    font-weight: 700;
    color: $main-text-color;
  }
  &__logo span:first-of-type {
    color: $logo-color;
  }
  &__nav {
    display: flex;
    align-items: center;
    color: $main-text-color;
  }
  &__nav ul {
    display: flex;
    align-items: center;
    @include text-formatting(false, 1.6rem);
  }
  &__nav li {
    margin-right: 3.7rem;
  }
  &__nav .btn {
    margin-left: 2rem;
  }
}
