.hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    padding-left: 7rem;
    width: 48%;
  }
  &__badge {
    max-width: 362px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    background: #e2eaed;
    span {
      display: inline-block;
      font-size: 1.8rem;
      line-height: 1;
    }
  }
  &__badge-icon {
    padding: 0.6rem 0.8rem;
    margin-right: 1rem;
    border-radius: 2rem;
    background: #feaa25;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  &__title {
    @include text-formatting(true, 6rem);
    line-height: 7.5rem;
    margin-bottom: 1.5rem;
  }
  &__desc {
    @include text-formatting(false, 1.8rem);
    margin-bottom: 4rem;
  }

  &__cta-demo {
    position: relative;
    margin-left: 2.5rem;
    @include link-hover(currentColor, -0.5rem);
    a {
      @include text-formatting(false, 1.6rem);
      color: $primary-color;
    }
  }

  &__img {
    position: relative;
    height: 80vh;
    max-height: 710px;
    width: 48%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 120%;
      max-height: 810px;
      width: auto;
    }
  }
}

.hero-decor {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90vh;
  max-height: 845px;
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    z-index: -1;
    &--foot {
      width: 100%;
      bottom: 0;
      z-index: -2;
    }
    &--cover {
      width: 40%;
      top: 50%;
      transform: translate(1%, -70%);
    }
    &--float {
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -55%);
    }
  }
}
