@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin text-formatting($title: false, $fontSize: 1.6rem) {
  font-size: $fontSize;
  line-height: lineHeight($fontSize);
  @if $title {
    font-weight: 600;
    color: $main-text-color;
  } @else {
    font-weight: 400;
    color: $secondary-text-color;
  }
}

@mixin link-hover($color, $bottom) {
  a::after {
    content: "";
    position: absolute;
    bottom: $bottom;
    left: 0;
    right: 0;
    height: 0.15rem;
    background-color: $color;
    transition: transform 0.2s linear;
    transform: scaleX(0);
    transform-origin: left;
  }
  a:hover::after,
  a:focus::after {
    transform: scaleX(1);
  }
}
