$primary-color: #2500f9;
$logo-color: #fcae61;
$main-text-color: #242f51;
$secondary-text-color: #616368;
$pink: #f55767;
$blue: #2563ff;
$green: #40975f;
$light-pink-bg: #ffecef;
$light-blue-bg: #f4f4ff;
$light-green-bg: #e4ffee;
$lighter-pink-bg: #fdeee4;
$lighter-green-bg: #eaf9ff;
$lighter-yellow-bg: #fff6d3;
$active-state-color: #eff3f8;
$faq-bg-color: #f5f7fa;
$grey: #273043;
